nav {
    background-color: #147AB9;
    padding-bottom: 70px;
}

#logo {
    margin-top: 3%;
    margin-left: 3%;
}

.page-footer {
    background-color: #147AB9;
    color: white;
}

.btn {
    background-color: #147AB9;
}
